{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-10 text-primary">
				<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">
					SHARE</h1>
			</div>
		</div>
	</div>

	<div class="modal container">
		<div class="overlay modal-trigger"></div>
		<div class="modal">
			<button class="close-modal
			modal-trigger">X</button>
			<h1>Voici du contenu</h1>
			<p>Texte a ajouter.</p>
		</div>
		</div>


		<button class="modal-btn
		modal-trigger">Open</button>
{% endblock %}
